/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary-300: hsl(276, 100%, 81%);
  --clr-primary-400: hsl(289, 100%, 72%);
  --clr-primary-500: hsl(293, 100%, 63%);
  --clr-primary-600: hsl(264, 100%, 61%);
  --clr-primary-700: hsl(276, 55%, 52%);
  --clr-primary-800: hsl(271, 36%, 24%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 20%, 96%);
  --clr-neutral-300: hsl(206, 6%, 79%);
  --clr-neutral-400: hsl(270, 7%, 64%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-base: "Rubik", sans-serif;

  --spacing-50: 0.25em;
  --spacing-100: 0.5em;
  --spacing-150: 0.75em;
  --spacing-200: 1em;
  --spacing-250: 1.25em;
  --spacing-300: 1.5em;
  --spacing-350: 1.75em;
  --spacing-400: 2em;
  --spacing-500: 2.5em;
  --spacing-600: 3em;
  --spacing-700: 3.75em;
  --spacing-800: 6.25em;
  --spacing-900: 10em;
  --spacing-1000: 15em;

  --fs-mobile-body: 1em;
  --fs-desktop-body: 1.125em;
  --fs-mobile-title: 2.375em;
  --fs-desktop-title: 2.5em;
  --fs-mobile-sub-title: ;
  --fs-desktop-sub-title: ;
  --fs-mobile-btn: ;
  --fs-Desktop-btn: ;

  --fs-title: clamp(
    var(--fs-mobile-title),
    2.3315rem + 0.2174vw,
    var(--fs-desktop-title)
  );
  --fs-sub-title: ;

  --fs-mobile-chat: 0.625rem;
  --fs-desktop-chat: 0.75rem;
  --fs-chat: clamp(
    var(--fs-mobile-chat),
    0.5815rem + 0.2174vw,
    var(--fs-desktop-chat)
  );
  --fs-mobile-user: 0.875rem;
  --fs-desktop-user: 1rem;
  --fs-user: clamp(
    var(--fs-mobile-user),
    0.8315rem + 0.2174vw,
    var(--fs-desktop-user)
  );
  --fs-mobile-price: 0.875rem;
  --fs-desktop-price: 1rem;
  --fs-price: clamp(
    var(--fs-mobile-price),
    0.8315rem + 0.2174vw,
    var(--fs-desktop-price)
  );
}

/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-family: var(--ff-base);
}
h1 {
  font-size: var(--fs-title);
  font-weight: var(--fw-medium);
}
/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */
.chat__header {
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: 1.5em 1.5em 0.5em 0.5em;
  background: linear-gradient(
    to right,
    var(--clr-primary-600),
    var(--clr-primary-500)
  );
  padding-block: var(--spacing-500) var(--spacing-200);
  padding-inline: var(--spacing-300);
  margin-bottom: var(--spacing-200);
}
.chat__header::after {
  content: "";
  position: absolute;
  top: -1.25em;
  right: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 15em;
  border-radius: 100vmax;
  height: 3em;
  background-color: var(--clr-neutral-100);
}
.chat__header-user-info-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}
.chat__header-back {
  max-width: 0.75em;
  filter: brightness(0) invert(1);
}

.chat__header-avatar {
  width: 2em;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 100vmax;
}
.chat__header__user-name {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-medium);
  text-wrap: nowrap;
}
.chat__header__status {
  color: var(--clr-neutral-300);
  opacity: 0.7;
  font-size: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
}

.chat__header__menu {
  width: 0.25em;
  filter: brightness(0) invert(1);
}
/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */
.mobile-ui__container {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.5em;
  max-width: 15.5em;
  margin: 2em;
  padding: var(--spacing-100);
}
.section__grid__mobile-ui {
  font-size: var(--fs-chat);
  background-color: var(--clr-neutral-200);
  border-radius: 1.5em;
}
.section__grid__mobile-ui > :not(:first-child) {
  padding-inline: var(--spacing-100);
}
.chat__message-group > *,
.options-group > * {
  margin-block-end: var(--spacing-200);
}
.chat__message-group {
  max-width: 20ch;
}
.message-text {
  font-size: .5rem;
}
.message-text,
.option {
  padding: var(--spacing-150);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.025);
}
.chat__message-group:not(:nth-child(3)) .message-text {
  background-color: hsl(from var(--clr-primary-300) h s l / 0.2);
  border-radius: 1em 1em 1em 0.5em;
  color: var(--clr-primary-700);
}
.chat__message-group:nth-child(3) {
  /* border: 1px solid red; */
  margin-left: auto;
}
.chat__message-group:nth-child(3) .message-text {
  background-color: var(--clr-neutral-100);
  border-radius: 1em 1em 0.5em 1em;
}
.chat__photo-group {
  display: flex;
  justify-content: space-between;
}
.chat__photo {
  max-width: 3.5em;
  border-radius: 1em;
}

.option {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--clr-primary-500),
    var(--clr-primary-600)
  );
  border-radius: 1em 1em 1em 0.5em;
  color: var(--clr-neutral-100);
}
.option__circle {
  width: 1em;
  height: 1em;
  border: 1px solid hsl(from var(--clr-neutral-100) h s l / 0.5);
  border-radius: 100vmax;
  margin-right: var(--spacing-100);
  justify-content: center;
  flex-shrink: 0;
}
.option__text {
  font-size: 0.5rem;
  color: hsl(from var(--clr-neutral-100) h s l / 0.75);
}
.option__price {
  margin-left: auto;
  font-weight: var(--fw-bold);
  font-size: .65rem;
}

.chat__input-group {
  padding-bottom: var(--spacing-200);
  display: grid;
  position: relative;
}
.input {
  border: none;
  padding: 1em;
  min-width: 0;
  border-radius: 100vmax;
  font-size: .625rem;
  padding-left: 1.5em;
}
.input::placeholder {
  opacity: .5;
}
.send-button {
  background-color: var(--clr-primary-800);
  border-radius: 100vmax;
  width: 2em;
  aspect-ratio: 1;
  border: none;
  position: absolute;
  top: .5em;
  right: 1em;
  transform: rotate(180deg);
  cursor: pointer;
}
.send-button img {
  filter: brightness(0) invert(1);
  width: 1em;
  height: 1em;
}


/* =============|| Buttons ||============= */

/* =============|| Inputs ||============= */

/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */

/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */

.text--primary {
  color: var(--clr-primary-600);
}

/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */
